# Ignore all data directories to prevent PHI/PII leakage
data/*
!data/.gitkeep
!data/raw/.gitkeep
!data/cards/.gitkeep
!data/processed/.gitkeep

# Ignore python caches, virtual environments, and local configs
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
src/config.py

# Ignore OS files
.DS_Store
